<h3>
{{#if (cond category '==' 'free')}}{{t "payplan.plan-free"}}{{/if}}
{{#if (cond category '==' 'intermediate')}}{{t "payplan.plan-intermediate"}}{{/if}}
{{#if (cond category '==' 'pro')}}{{t "payplan.plan-first"}}{{/if}}
</h3>


