<div class="row">
    {{!--<h1>Why you should add yourself here</h1>--}}
    {{#if (eq locale 'fr')}}
    <h1>En tant qu'organisteur d'événements vinicoles, quel sera votre interêt à être enregistré?</h1>
    <h2 class="w-feature">Ce que nous proposons</h2>
    <h4>
        <ul class="list-group">
            <li class="list-group-item">Une description de votre événement 
                <ul class="list-group margin-inner-list">
                    <li class="list-group-item">Logo</li>
                    <li class="list-group-item">Edition</li>
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Prix et prévente</li>
                    <li class="list-group-item">Lieu</li>
                    <li class="list-group-item">Brochure image</li>
                    <li class="list-group-item">Plan d'accès</li>
                    <li class="list-group-item">Horaires</li>
                    <li class="list-group-item">Ajout des dates dans google calendar, ical</li>
                    <li class="list-group-item">Contact (adresse, email, site internet, téléphone)</li>
                    <li class="list-group-item">Géolocalisation via google map</li>
                    <li class="list-group-item">réseaux sociaux</li>
                </ul>
            </li>
            <li class="list-group-item">Une liste des vignobles participant son numéro de stand et son résumé</li>
            <li class="list-group-item">Un filtre par pays, région et production bio des vignobles</li>
            <li class="list-group-item"><b>Une liste des prix des produits fournis par des vignobles avec filtre et tri </b><span class="badge w-badge-danger">Aucun événement ne fournit actuellement ce service!</span><br/><br/></li>
            <li class="list-group-item">Une description des partenaires</li>
            <li class="list-group-item">Un hébergement d'images</li>
            <li class="list-group-item">Un site multilingue</li>
            <li class="list-group-item">Un partage sur les réseaux sociaux</li>
            <li class="list-group-item">De fiches techniques (exemple: plan d'accès, plan des exposants)</li>
        </ul>
    </h4>

    <h2 class="w-feature">De nouvelles fonctionnalités sont en cours de développement</h2>
    <h4>
        <ul class="list-group">
            
            <li  class="list-group-item">Une gestion et d'envoi d'invitation et réduction <span class="badge w-badge-info"> prévu début 2020</span><br/><br/></li>
            <li  class="list-group-item">Un défilé de slides sur tablette ou téléviseur des partenaires et exposants <span class="badge w-badge-info"> prévu début 2020</span><br/></li>
        </ul>
    </h4>

    <h3 class="w-feature">Vous avez déjà un site</h3>
    <h5>
        Si vous avez déjà un site ou une page facebook, celui-ci peut aussi être référencé. 
    </h5>
    {{else}}
    <h1>As a Wine Event Organiser, what is your insterest to be registered?</h1>
    <h2 class="w-feature">What we offer</h2>
    <h4>
        <ul class="list-group">
            <li class="list-group-item">A description of your wine event
                <ul class="list-group margin-inner-list">
                    <li class="list-group-item">Logo</li>
                    <li class="list-group-item">Edition</li>
                    <li class="list-group-item">Date</li>
                    <li class="list-group-item">Entrance fee, presale fee</li>
                    <li class="list-group-item">Place</li>
                    <li class="list-group-item">Flyer image</li>
                    <li class="list-group-item">Access Plan</li>
                    <li class="list-group-item">Opening hours</li>
                    <li class="list-group-item">Add event dates in google calendar, ical</li>
                    <li class="list-group-item">Contact (address, email, website, phone)</li>
                    <li class="list-group-item">Geolocalisation via google map</li>
                    <li class="list-group-item">Social networks</li>
                </ul>
            </li>
            <li class="list-group-item">A list of wineries with their booth number and card summary</li>
            <li class="list-group-item">A filter by country, region, bio on wineries</li>
            <li class="list-group-item"><b>A list of prices for winery products sortable and filterable </b><span class="badge w-badge-danger">No event provides this service on the market!</span><br/><br/></li>
            <li class="list-group-item">A description of partners</li>
            <li class="list-group-item">Image hosting</li>
            <li class="list-group-item">Multilingual web site</li>
            <li class="list-group-item">Sharing on social networks</li>
            <li class="list-group-item">Technical sheets (example: access plan, exhibitor's plan)</li>
        </ul>
    </h4>

    <h2 class="w-feature">New functionalities are under development</h2>
    <h4>
        <ul class="list-group">
            <li  class="list-group-item">Invitation and discount functionalities <span class="badge w-badge-info"> foreseen beginning 2020</span><br/><br/></li>
            <li  class="list-group-item">Slide show on tablette or TV of the associated partners and wineries<span class="badge w-badge-info"> foreseen beginning 2020</span><br/></li>
        </ul>
    </h4>

    <h3 class="w-feature">You already have a web site</h3>
    <h5>
        If you already have a web site or facebook page, it can be referenced.
    </h5>
    {{/if}}
</div>