  <label class="col-md-4 control-label" for="{{name}}">{{snippet/validation-check-success isValid=isValid}}
      {{label}}{{#if required}}&nbsp;*{{/if}}</label>  
  <div class="col-md-2">
  {{input id=name name=name type="date" value=modelValue class="form-control" placeholder=placeHolder autofocus=autofocus required=required}}
  </div>