<h4>
    <div class="row">
        <div class="col-md-6">
            Liste des événements vinicoles du Bénélux et du Nord de la France.
            <br/>
            Avec les fiches des vignobles participant!
            <br/>
            Vous pouvez ainsi suivre des vignobles sur plusieurs événements.
        </div>
        <div class="col-md-6">
            {{#link-to 'features.event'}}
                <i class="fa fa-certificate" style="color:orange"></i>
                {{t 'sentence.event-features'}}
            {{/link-to}}
        </div>
    </div>
</h4> 