<h4>
    <div class="row">
        <div class="col-md-6">
            Liste des vignobles participant à des événements vinicoles du Bénélux et du Nord de la France.
        </div>
        <div class="col-md-6">
            {{#link-to 'features.winery'}}
                <i class="fa fa-certificate" style="color:orange"></i>
                {{t 'sentence.winery-features'}}
            {{/link-to}}
        </div>
    </div>
</h4> 
