<ul class="list-unstyled clear-margins">
    <!-- widgets -->
    <li class="widget-container widget_recent_news">
        <!-- widgets list -->
        <h1 class="title-widget">{{title}}</h1>
{{yield}}
    </li>
</ul>

