{{#layout/container/index-layout-container}}
    <div class="row">
        <div class="col-md-12">
            <h1>
                <div class='form-group'>
                    <div class="col-sm-4 w-card-title">
                        {{t "nav.event-list-of-wineries"}}
                    </div>
                </div>
            </h1>
      </div>
    </div>
{{/layout/container/index-layout-container}}