{{#layout/card/layout-card-overview}}
{{#layout/container/index-layout-container}}
<h1>
    Exchange contact information
</h1>
<h2>
    Scan ticket QR
</h2>

<h1>
    Other
</h1>
<h3>
    free text
</h3>

<div class="row">
    <div class="container">
        <button type="button" {{action "shareInfo"}} class="btn btn-success">  
            {{t "action.share-contact"}} <span class="fa fa-scanner">
            </span>
        </button>
    </div>
</div>

{{/layout/container/index-layout-container}}
{{/layout/card/layout-card-overview}}