{{!--TODO remove layout-card-overview--}}
<div class="container-fluid">{{!-- style="background-color:#e8e8e8">--}}
    {{!--<div class="container container-pad" id="property-listings">--}}
    <div class="container container-pad">
{{yield}}
    </div>
</div>
