{{!-- app/templates/accounts/info.hbs --}}
{{#layout/card/layout-card-overview}}

    <h1>{{t "nav.user-info"}}</h1>
    
    <div class="form-group">
        {{card/user/user-card-overview data=model}}
    </div>

{{/layout/card/layout-card-overview}}