
{{#if (eq environment "production")}}{{/if}}
{{snippet/watermark-snippet label=(t "sentence.experimental-feature")}}

<div class="container">
    {{!-- 
    <h2 class="panel-title">
        Purchase order confirmation (Experimental)
        </h2>
        --}}
    <br/>
    <div class="row">
        <h3>Your purchase order has been processed.</h3>
        <h4>
        You should recieve an email with the details.
        </h4>
        <h4>
        The winery should recieve an email for the with this order.
        </h4>
        <h4>
        Wineries shall contact buyer for the shipping fee (if needed) and the due payment.
        </h4>
    </div>
</div>
