//header
$color-header-navbar-active : blue;
$color-header-navbar-background : #d65c14;

//footer
$color-footer-batonnet: #ea5644;
$color-footer-title : #898989;
$color-footer-title-median :#636363;
$color-footer-bottom : #15224f;

//main
$grey-deep : #6d6d6d;
$grey-light : #e8e8e8;
$blue-deep :#608bb4;
$green-deep :#57ac57;
$twitter-color :#4099FF;//#3399CC;
$google-color :#d34836;//#DD3F34;
$youtube-color :#d34836;//#DD3F34;
$pinterest-color : #CC1E2D;
$linkedin-color : #1884BB;
$facebook-color : #3B5998;//#3D5B96;
$instagram-color : #e4405f;
$mail-color : #f39c12;//#FFC90E;
$code-color : #bcf442;
$pdf-color : #fff53a;//#6d6d6d;//#fff53a
$pdf-color-background : #6d6d6d;
$git-color : #3B5998;
$white : #FFFFFF;

$color-pill-bottom : #FF6600;

//still more todo
$color-hover : beige;

$bs-danger-color : #d9534f;
$bs-danger-info : #f39c12;

$arrow-green : green;
$arrow-red : red;
$arrow-black : black;

$feature-side-color:#4CAF50;

$bio-color : #5cb85c;
