$media-sizebig-int-pixel : 991px;
$media-sizebig-plus-one-int-pixel : 992px;

$media-sizebig-pixel : 991px;
$media-sizebig-plus-one-pixel : 992px;

$media-mobile-phone-max : 600px;
$media-mobile-max : 767px;
$media-tablet-min : 768px;
$media-tablet-max : 991px;
$media-desktop-min : 992px;
$media-desktop-max : 1200px;
$media-jumbo-imin : 1201px;
//$media-sizebig-pixel : $media-sizebig-int-pixel+px;//
//$media-sizebig-plus-one-pixel : $media-sizebig-plus-one-int-pixel+px;