<p>The winery project is in prototype phase, for evaluation and {{#link-to 'feedback'}}feedback{{/link-to}}.</p>
<p>Only dummy business data is available here (Wineries are randomly generated)</p>
<p>Meanwhile masterdata such as grades/cepages, regions, etc... should be correct</p>
<p>For people interested in promoting or contributing to the winery-platform 
    please contact <a href="mailto:thewineryproject@gmail.com" target="_top">thewineryproject@gmail.com</a> </p>
