{{#if isInViewport}}
<div class="ribbon-content brdr pad-10 box-shad btm-mrg-20 property-listing">
    <div class="media w-card">
{{yield}}
    </div>
</div>
{{else}}
{{!-- seems not to work--}}
{{/if}}