<p class="lead big-lead"><strong>
{{#if (cond category '==' 'free')}}&euro;0 / {{t "field.month"}}{{/if}}
{{#if (cond category '==' 'intermediate')}}&euro;20 / {{t "field.month"}}{{/if}}
{{#if (cond category '==' 'pro')}}&euro;50 / {{t "field.month"}}{{/if}} 
</strong></p> 
