{{!-- 
https://gist.github.com/johnchambers/5a6e67f2d7d39031af17
--}}
{{#unless hasAcknowledgeCookiesWarning}}
<footer class="w-disclaimer" role="navigation">
    <br>
      <div class="container-fluid" style="background-color: black; color: white">
        <div class="row">
            <a {{action "close"}} class="btn pull-right btn-primary">

                <i class="fa fa-times" aria-hidden="true"></i>

                <span><strong>Close</strong></span>            
            </a>
            <p class="text-muted credit no-print">
                By using our website you are consenting to our use of cookies in accordance with our 
                {{#link-to "cookies" tagName="li" }}
                <a >cookie policy</a>.
                {{/link-to}}
                
 {{!--
Some Winery Project pages use cookies to better serve you when you return to the site. 
You can set your browser to notify you before you receive a cookie or turn off cookies. 
If you do so, however, some areas of some sites may not function properly. 
To read Eclipse Foundation Privacy Policy click here.
 --}}
 
            </p>
            <br>
        </div>
      </div>
</footer>
{{/unless}}
