<div class="panel panel-default">
    <div class="panel-heading">
        <b>
        {{#if class}}
        <i class="{{class}}"></i>
        {{/if}}
        {{heading}}
        </b>
    </div>
    <div class="panel-body">
        {{yield}}
    </div>
</div>
