<div class="container">
    <div class="jumbotron">
        <p><b>How to contribute?</b></p>
        <p>Add some business data such as register your winery ({{#link-to 'payplans.request' 'free'}}free{{/link-to}}, {{#link-to 'payplans'}}all options{{/link-to}})</p>
        <p>Translate</p>
        <p>{{#link-to 'developer'}}Code{{/link-to}}</p>
        <p>{{#link-to 'feedback'}}Feedback your experience, your test result, suggest improvements{{/link-to}}</p>
    </div>
</div>