<div class="container">
    <h1>Mentions légales</h1>
    <h2>Utilisation des données des visiteurs</h2>

    Aucune données privées des visiteurs n'est demandé. 
    Les données de session peuvent être stockées sous forme de cookie pour améliorer la fluidité de navigation.
    <h3>Cookies</h3>
    La gestion des cookies est décrite {{#link-to 'cookies'}}ici{{/link-to}}

    <h2>Utilisation des données des vignobles</h2>
    <h3>Données publiques</h3>
    Les données publiques sont celles publiquement accessibles dans les annuaires tels que le nom du domaine, addresse et numéro de téléphone (si public).

    <h3>Données propriétaires</h3>
    Les données propriétaires sont celles où un accord préalable entre WineryProject et le client en l'occurence un domaine viticole ont été trouvé.
    Le client peut demander la partielle ou complete des données propriétaires à tout moment.
    Ces données concernent les informations 
    complementaires du domaine,
    les produits (vins),
    les images pour le domaine et les produits.

    Ces données ont pour but de fournir des informations au visiteur externe relative au domaine et au vins produits.
    
    <h3>Données privées</h3>
    Ces données sont relatives au compte de l'utilisateur dans WineryProject.
    <br/>
    Elles sont confidentielles et accessibles uniquement par l'utilisateur et le support de WineryProject.
    <br/>
    Ces données sont utilisées pour la facturation.
    <br/>
    Le client peut demander la partielle ou complete de ses données privées à tout moment.

    <h3>Données sécurisées</h3>
    Elles sont confidentielles uniquement à l'utilisateur.
    Ceux sont les données relatives aux mots de passe de l'utilisateur. 
        <br/>
    Le client peut demander la partielle ou complete de ses données sécurisées à tout moment.

    <br/>
    <br/>

</div>